@use '../1-utilities' as *;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
html{
    font-size:62.5%;
};
body{
    font-family: 'Josefin Sans', sans-serif;
    font-size:1.8rem;
}
%b-400{
    @include font-weight(thin)
}
%b-700{
    @include font-weight(bold)
}

