//Primary

$Moderatecyan: hsl(176, 50%, 47%);
$Darkcyan: hsl(176, 72%, 28%);

//Neutral

$Black: hsl(0, 0%, 0%);
$Darkgray: hsl(0, 0%, 48%);

$light:(
    cyan:$Moderatecyan,
    darkCyan:$Darkcyan,
    black:$Black,
    gray:$Darkgray
)