@use '../styles/' as *;

/////////////////////////////////////////////////////
    //always get prepared for color theme variation
/////////////////////////////////////////////////////


@mixin flexCenter(){
    display:flex;
    justify-content:center;
}

/////////////////////////////////////////////////////
                // breakpoints
/////////////////////////////////////////////////////

$mobile: 375px;
$tablet: 1025px;

/////////////////////////////////////////////////////
            // Let's get started
/////////////////////////////////////////////////////

body{
    min-height:100vh;
    //font-weight: 400, 500, 700
    font-size:1.6rem;
    background:color(white);
}

header{
    background: linear-gradient(to bottom, rgba(0,0,0,0.6),rgb(0, 0, 0, 0) 40%), url(../images/image-hero-desktop.jpg) no-repeat top center;
    background-size:100%;
    height:540px;
    .header-container{
        max-width:1440px;
        @include flexCenter;
        padding:7rem 2rem 0;
        margin:0 auto;
        justify-content:space-between;
        .logo > img{
            cursor:pointer;
            width:100%;
        }
        .links{
            z-index:9;
            min-width:280px;
            display:flex;
            justify-content:space-between;
            @extend %bold1;
            & a::after{
                display:block;
                content:'';
                padding-top:4px;
                border-bottom: 2px solid color(cyan);
                transform:scaleX(0);
                transform-origin: 100% 50%;
                transition: transform 0.2s ease-in-out;
            }
            & a:hover:after{
                transform:scaleX(1);
                transform-origin: 0 50%;
                transition: transform 0.2s ease-in-out;
            }
        }
    }
}

main{
    position:relative;
    .section-container{
        @include flexCenter();
        flex-direction:column;
        width:60%;
        min-width:360px;
        max-width:800px;
        left:0; right:0;
        top:-54vh;
        margin:0 auto;
        position:absolute;
        .project-title{
            position:relative;
            border:1px solid;
            padding:5rem;
            margin:0 1rem;
            transform: translateY(20vw);
            width:100%;
            background:white;
            border-radius:10px;
            text-align:center;
            &::before{
                content:url(../images/logo-mastercraft.svg);
                position:absolute;
                top:0;bottom:0; left:0; right:0;
                pointer-events:none;
                @include flexCenter;
                transform:translateY(-2.5rem);
                margin:0 auto;
            }
            h2{
                font-size: 3rem;
                margin-bottom:2rem;
                @extend %bold3;
            }
            p{
                font-size:1.7rem;
                color:color(gray);
                @extend %bold1;
                margin-bottom:3rem;
            }
            .button-section{
                display:flex;
                flex-wrap:wrap;
                gap:2rem;
                justify-content:space-between;
                align-items:center;
                .btn{
                    @extend %global-btn;
                }
                .bookmark{
                    position:relative;
                    background: rgb(245, 252, 251);
                    color:color(gray);
                    width:200px;
                    transition: all 0.3s ease-in-out;
                    text-align:right;
                    &:before{
                        content:'';
                        position:absolute;
                        background:url(../images/icon-bookmark2.svg) no-repeat;
                        background-size:contain;
                        color:white;
                        width:60px;
                        height:60px;
                        top:0;
                        left:0;
                    }
                }
                .bookmarked{
                    @extend .bookmark;
                    color:color(darkCyan);
                    width:220px;
                    &:before{
                        background:url('data:image/svg+xml;utf8,<svg width="56" height="56" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="darkcyan " cx="28" cy="28" r="28"/><path fill="white" d="M23 19v18l5-5.058L33 37V19z"/></g></svg>') no-repeat;
                        background-size:contain;
                    }
                }
            }
        }
        .data{
            @extend .project-title;
            &::before{
                content:'';
            }
        }
    }
}