@use '../style/' as *;
//design font-size:12px;
body{
    font-family: 'Spartan', sans-serif;
    font-size:1.6rem;
    min-height:100vh;
    position:relative;
}
h2{
    font-size:5rem;
    line-height:5.5rem;
    font-weight:600;
}
p{
    font-size:1.4rem;
    color:color(gray);
    line-height:2.5rem;
}
////////////////////////////////////////
        //nav section
////////////////////////////////////////
.header-container{
    display:flex;
    justify-content:flex-start;
    margin:0 auto;
}
.header-wrapper{
    margin:8rem 10rem;
    display:flex;
    align-items:center;
    z-index:999;
}
.logo{
    margin-top:-3px;
    min-width:120px;
    img{
        width:100%;
        &:hover{
            animation: bounce-in-bck 0.8s both;
        }
    }
}
.navigator{
    padding-left:5rem;
    font-size:1.7rem;
    font-weight:600;
    display:flex;
    height:100%;
    a{
        padding:1rem 2rem;
        color:color(white);
        &:hover{
            animation: bounce-in-bck 0.8s both;
        }
        &::after{
            display:block;
            padding-top:3px;
            content:'';
            width:100%;
            border-bottom: 3px solid color(lightGray);
            transform:scaleX(0);
            transform-origin:0 50%;
            transition:all 0.3s ease-in-out;
        }
        &:focus:after{
            border-bottom: 3px solid color(lightGray);
            transform-origin:0 50%;
            transition:all 0.3s ease-in-out;
            transform:scaleX(1);
        }
    }
}
////////////////////////////////////////
        //main section
////////////////////////////////////////
.main-container{
    position:absolute;
    @include absolute();
    display:flex; 
}
.hero-container{
    width:100%;
    display:flex;
    max-height:640px;
}
.hero-image-container{
    flex: 1 1 55%;
    position:relative;
}
.hero-image-wrapper{
    width:100%;
    height:100%;
    overflow:hidden;
    .hero-image-slider{
        position:relative;
        width:100%;
        height:100%;
        transition:all 0.5s ease-in-out;
        .image1{
            @extend .global-hero-image;
            background: url(../images/desktop-image-hero-1.jpg) no-repeat center/cover;
        }
        .image2{
            @extend .global-hero-image;
            background: url(../images/desktop-image-hero-2.jpg) no-repeat center/cover;
        }
        .image3{
            @extend .global-hero-image;
            background: url(../images/desktop-image-hero-3.jpg) no-repeat center/cover ;
        }
    }
    .hero-control{
        z-index:2;
        position:absolute;
        bottom:0;
        right:-180px;
        // margin:-90px 0 0 55%;
        display:flex;
        .icon-left{
            display:flex;
            align-items:center;
            justify-content:center;
            background:color(black);
            height:90px;
            width:90px;
            transition:all 0.2s ease;
            cursor:pointer;
            img{
                pointer-events:none;
            }
            &:hover{
                transition:all 0.2s ease;
                background:color(darkGray);
            }
            &:hover img{
                animation:rotate 0.4s linear ;
            }
        }
        .icon-right{
            @extend .icon-left;
            &:hover img{
                animation:reverserotate 0.4s linear ;
            }
        }
    }
}
.hero-text-wrapper{
    z-index:1;
    flex: 1 1 45%;
    position:relative;
    .hero-text1{
        @extend .global-hero-text;
        z-index:2;
        opacity:0;
    }
    .hero-text2{
        @extend .global-hero-text;
        z-index:2;
        opacity:0;
    }
    .hero-text3{
        @extend .global-hero-text;
        z-index:2;
    }
    
}
@media screen and (max-width:1245px){
    h2{
        font-weight:700;
        font-size:4rem;
        line-height:4.2rem;
    }
}
@media screen and (max-width:785px){
    .hero-image-wrapper{
        .hero-control{
            right:0;
        }
    }
}

