$white: #fff;
$StrongCyan: hsl(171, 66%, 44%);
$LightBlue: hsl(233, 100%, 69%);
$DarkGrayishBlue: hsl(210, 10%, 33%);
$GrayishBlue: hsl(201, 11%, 66%);

//color theme
$Light:(
    white:$white,
    green:$StrongCyan,
    blue:$LightBlue,
    darkBlue:$DarkGrayishBlue,
    gray:$GrayishBlue,
)




