@mixin font-weight($weight){
    $weights:(
        thin:400,
        bold:700
    );
    $output:$weight;
    @if map-has-key($weights, $weight){
        $output: map-get($weights, $weight)
    };
    font-weight: $output;
}
%b-400{
    @include font-weight(thin)
}
%b-700{
    @include font-weight(bold)
}

@mixin transition($type, $duration){
    transition : $type $duration ease-in-out;
}