//colors
//primary
$BrightBlue: hsl(220, 98%, 61%);
$CheckBackground: linear-gradient(hsl(192, 100%, 67%) to hsl(280, 87%, 65%));

// Light theme
$l-VeryLightGray: hsl(0, 0%, 98%);
$l-VeryLightGrayishBlue: hsl(236, 33%, 92%);
$l-LightGrayishBlue: hsl(233, 11%, 84%);
$l-LightGrayishBlue2: hsl(236, 33%, 92%);    //(hover)
$l-DarkGrayishBlue: hsl(236, 9%, 61%);
$l-VeryDarkGrayishBlue: hsl(235, 19%, 35%);
$l-VeryDarkGrayishBlue2: hsl(237, 14%, 26%);

// Dark theme
$d-VeryDarkBlue: hsl(235, 21%, 11%);
$d-VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$d-LightGrayishBlue: hsl(234, 39%, 85%);
$d-LightGrayishBlue2: hsl(236, 33%, 92%);    //(hover)
$d-DarkGrayishBlue: hsl(234, 11%, 52%);
$d-VeryDarkGrayishBlue: hsl(233, 14%, 35%);
$d-VeryDarkGrayishBlue2: hsl(237, 14%, 26%);

$light:(
    main: $l-VeryLightGray,
    main-light: $l-VeryLightGrayishBlue,
    lightblue: $l-LightGrayishBlue,
    lightblue2: $l-LightGrayishBlue2,
    grayishblue: $l-DarkGrayishBlue,
    darkgrayishblue: $l-VeryDarkGrayishBlue,
    darkgrayishblue2: $l-VeryDarkGrayishBlue2
);
$dark:(
    main: $d-VeryDarkBlue,
    main-light: $d-VeryDarkDesaturatedBlue,
    lightblue: $d-LightGrayishBlue,
    lightblue2: $d-LightGrayishBlue2,
    grayishblue: $d-DarkGrayishBlue,
    darkgrayishblue: $d-VeryDarkGrayishBlue,
    darkgrayishblue2: $d-VeryDarkGrayishBlue2
)