$Red: hsl(0, 100%, 68%);
$VeryDarkBlue: hsl(230, 29%, 20%);
$DarkGrayishBlue: hsl(230, 11%, 40%);
$GrayishBlue: hsl(231, 7%, 65%);
$LightGrayishBlue: hsl(207, 33%, 95%);

$dark:(
    darkBlue: $VeryDarkBlue,
    darkGray: $DarkGrayishBlue,
    bluGray:$LightGrayishBlue,
    btnRed:$Red
)
